@import '001func.styl'

.taxifolia-main-props
	width 100%
	background-image url(../images/sld_2.jpg)
	background-position 50% 0%
	padding-bottom 50px
	
.taxifolia-main-props-responsive
	width staticWidth
	margin 0 auto
	
.taxifolia-main-props-list
	padding 0px
	
.taxifolia-main-props-list-item
	display flex 
	justify-content space-between
	align-items center
	width 100%
	padding 20px 0
	
.taxifolia-main-props-list-item-image-path
	width 117px
	height 132px
	margin-right 20px

.taxifolia-main-props-list-item-description-path
	width 90%

.taxifolia-main-props-list-item-description-path span 
	color grey
	
.taxifolia-main-props-list-item-description-path h4
	font-family "PFreg"
	font-size 18px
	padding 10px 0 20px
	margin 0

.taxifolia-main-props-list-item-description-path p 
	margin 0

.--heart
	background url(../images/sprite.png) 0px 0px
	
.--veins
	background url(../images/sprite.png) -115px 0px

.--brain
	background url(../images/sprite.png) -230px 0px

.--lungs
	background url(../images/sprite.png) -345px 0px

.--immunity
	background url(../images/sprite.png) -460px 0px