@import '001func.styl'

.taxifolia-way-of-activities
	width 100%
	background #fff
	
.taxifolia-way-of-activities-responsive
	width staticWidth
	margin 0 auto

.taxifolia-way-of-activities-list
	display flex 
	justify-content space-between
	width 100%
	padding 0 0 60px 0
	
.taxifolia-way-of-activities-list-item
	text-align center
	width 33%
	
.taxifolia-way-of-activities-image
	width 230px
	height 260px
	display inline-block
	margin 20px 0

.taxifolia-way-of-activities-list-item h4 
	font-family "PFreg"
	margin 20px 0
	line-height 25px
	text-transform uppercase

.taxifolia-way-of-activities-list-item p 
	font-size 15px
	color #434240
	line-height 20px
	text-align left
	padding 0 30px

.--antioksidant
	background url(../images/sprite.png) -3px -154px

.--capillaries
	background url(../images/sprite.png) -236px -154px

.--immunity-active
	background url(../images/sprite.png) -468px -154px
	
@media screen and (max-width: 1024px)
	.taxifolia-way-of-activities-responsive
		width 100%
		padding 0 50px
	
	.taxifolia-way-of-activities-list
		flex-wrap wrap 
		justify-content center
		
	.taxifolia-way-of-activities-list-item
		width 70%
		margin 20px 0
		
@media screen and (max-width: 700px)
	.taxifolia-way-of-activities-list-item
		width 100%
		margin 20px 0


@media screen and (max-width: 400px)		
	.taxifolia-way-of-activities-list-item p
		padding 0