@import '001func.styl'

.taxifolia-backets
	width 100%
	overflow-x hidden
	background linear-gradient(to bottom, rgba(252,247,229,1) 0%,rgba(255,255,255,1) 100%)
	
.taxifolia-backets-responsive
	width staticWidth
	margin 0 auto
	position relative
	background-image url(../images/back_mail.png)
	background-position 50% 0
	background-repeat no-repeat

.taxifolia-backets-responsive-background
	width 1260px
	position absolute
	height 100%
	background url(../images/figure.png)
	left calc((1024px - 1260px) / 2)
	z-index 0

.taxifolia-backets-mails
	height 650px
	position relative

.taxifolia-backets-goods
	display flex 	
	justify-content space-around
	margin-top 50px

.taxifolia-backets-goods-item
	text-align center

.taxifolia-backets-goods-item h3
	font-family "PFsemi"
	text-transform uppercase
	line-height 20px
	padding 10px 0

.taxifolia-backets-goods-item p 
	line-height 17px
	font-size 13px

.taxifolia-hidden-input
	position absolute
	opacity 0
	z-index -999px

.taxifolia-backets-goods-item label
	width 28px 
	height 28px
	display inline-block
	margin-top 15px
	background url(../images/sprite.png) -304px -468px

.taxifolia-backets-goods-item input:checked + label
	background url(../images/sprite.png) -259px -468px


.taxifolia-backets-mails-form
	text-align center
	position relative
	z-index 1

.taxifolia-title-form
	font-size 35px
	font-family "PFsemi"
	color #fff
	padding 140px 0 55px 0
	text-transform uppercase

.taxifolia-description-form
	color #fff
	font-size 16px
	
.taxifolia-binding-input
	width 230px
	margin 20px auto 70px
	display flex
	justify-content space-between
	align-items center
	
.taxifolia-binding-input span 
	font-size 16px
	color #fff
	
.taxifolia-binding-input input 
	width 195px
	
.taxifolia-mail-form h3
	position relative
	padding 0 0 30px 0 
	&:after
		content ""
		width 100%
		position absolute
		height 1px 
		background #fff
		left 0
		z-index -1
		top 6px
	
.taxifolia-mail-form span 
	font-size 17px
	font-family "PFsemi"
	color #fff
	position relative
	background greenColor
	padding 0 20px
	z-index 9
	text-transform uppercase
	
.taxifolia-mail-form-flex-input
	display flex
	flex-wrap wrap
	justify-content space-between
	
.taxifolia-mail-form-flex-item-3
	width 32%
	
.taxifolia-mail-form-flex-item-1
	width 100%
	margin 15px 0 50px 0