@import '001func.styl'

.taxifolia-sertificates
	width 100%
	background #ececec
	height 330px
	margin-bottom 80px
	position relative

.taxifolia-sertificates-sliders-outer
	position relative
	top 0
	width 750px
	margin 0 auto

.taxifolia-sertificates-image
	box-shadow 0 0 20px 3px rgba(0,0,0,.3)
	
#taxifolia-carousel
	height 300px

#taxifolia-carousel-prev
	position absolute
	width 11px
	height 22px
	display inline-block
	cursor pointer
	z-index 99
	background url(../images/sprite.png) -262px -434px
	left -45px
	top 50%
	margin-top -11px

#taxifolia-carousel-next
	position absolute
	width 11px
	height 22px
	display inline-block
	cursor pointer
	z-index 99
	background url(../images/sprite.png) -309px -434px
	right -45px
	top 50%
	margin-top -11px

#taxifolia-carousel img 
	position absolute
	margin auto
	left 0
	right 0

@media screen and (max-width: 800px)
	.taxifolia-sertificates
		display none